body {
  background-color: white;
  width: 1004px;
}

.flip-card {
  background-color: white;
  width: 1004px;
  height: 591px;
  display: flex;
  justify-content: center;
}

.flip-card-inner {
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
}

.flip-card.interactive .flip-card-inner {
  transition: transform 0.6s;
}

.click {
  cursor: pointer;
}

.flip-card.click.clicked .flip-card-inner {
  transform: rotateY(180deg);
}

.animation .flip-card-inner {
  animation-name: flipCard;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

@keyframes flipCard {
  20% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(180deg);
  }
  80% {
    transform: rotateY(0deg);
  }
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.card-1 {
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
}

.card-2 {
  background-image: url("../img/2.png");
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 30%;
  padding-right: 30%;
}

.box {
  align-items: center;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgb(0, 172, 238) 0%, rgb(2, 126, 251) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgb(2, 126, 251);
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: rgb(2, 126, 251);
}
.btn-3 span:hover a {
  text-decoration: none;
  color: rgb(2, 126, 251);
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgb(2, 126, 251);
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}/*# sourceMappingURL=all.css.map */